/* CABECALHO */

.cabecalho__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.cabecalho__pesquisar__item {
  display: none;
}

/* SECAO SUPERIOR */

.superior__secao__container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: scroll;
  gap: 15px;
  /* propriedade white space é utilizada para texto, nunca utilizar flexbox para trabalhar com textos */
}

/* RODAPE */

.rodape__container {
  display: flex;
  /* flex-direction: column;
    flex-wrap: wrap; */
  flex-flow: column wrap;
}

/* MENU */
.menu__container {
  position: fixed;
  bottom: 0%;
  height: 74px;
  width: 100%;
}

.menu__lista {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.menu__lista li {
  align-self: center;
  display: flex;
}

.menu__itens {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* NTH CHILD É USADO PARA pegar os elementos de acordo com a ordem em que aparecem */
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
  display: none;
}

@media (min-width: 834px) {
  /* CABECALHO */

  .cabecalho__pesquisar__item {
    display: block;
  }

  /* RODAPE */
  .rodape__container {
    justify-content: space-between;
  }

  /* MENU */
  .menu__container {
    position: fixed;
    left: 0px;
    top: 84px;
    height: 100%;
    width: 74px;
  }

  .menu__lista {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
  }

  .menu__lista li {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  /* MENU */
  .menu__container {
    width: 239px;
    overflow: scroll;
  }

  .menu__lista{
    height: auto;
    padding: 20px 17px 20px 15px;
    gap: 15px;
  }

  .menu__lista:nth-child(2),
  .menu__lista:nth-child(3),
  .menu__lista:nth-child(4) {
    display: flex;
  }

  .menu__itens {
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }
}
